[submodule "Shard/vendor/glfw"]
	path = Shard/vendor/glfw
	url = https://github.com/asu4net/glfw.git
[submodule "Shard/vendor/glm"]
	path = Shard/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Shard/vendor/imgui"]
	path = Shard/vendor/imgui
	url = https://github.com/asu4net/imgui.git
[submodule "Shard/vendor/box2d"]
	path = Shard/vendor/box2d
	url = https://github.com/asu4net/box2d.git
